{% extends 'myapp/base.html' %}

{% block title %}
services
{% endblock title %}

{% block body %}

<div class="container">
<div class="row my-5">
<div class="col-sm-3 offset-1">
<div class="card" style="width: 18rem;">
  <img src="https://source.unsplash.com/1500x650/?samsung" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Mobile</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Shop Now</a>
  </div>
</div>
</div>
<div class="col-sm-3 offset-1">
<div class="card" style="width: 18rem;">
  <img src="https://source.unsplash.com/1400x600/?earphones" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">earphone</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Shop Now</a>
  </div>
</div>
</div>
<div class="col-sm-3 offset-1">
<div class="card" style="width: 18rem;">
  <img src="https://source.unsplash.com/1400x600/?laptop" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Laptops</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Shop Now</a>
  </div>
</div>
</div>
<div class="row my-5">
<div class="col-sm-3 offset-1">
<div class="card" style="width: 18rem;">
  <img src="https://source.unsplash.com/1400x600/?tv" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Television</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Shop Now</a>
  </div>
</div>
</div>
<div class="col-sm-3 offset-1">
<div class="card" style="width: 18rem;">
  <img src="https://source.unsplash.com/1400x600/?fan" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Fan</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Shop Now</a>
  </div>
</div>
</div>
<div class="col-sm-3 offset-1">
<div class="card" style="width: 18rem;">
  <img src="https://source.unsplash.com/1400x600/?refrigerator" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Refrigerator</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Shop Now</a>
  </div>
</div>
</div>
</div>

{% endblock body %}